# Python / Jupyter / PyInstaller
__pycache__/
*.py[cod]
.venv/
env/
.ipynb_checkpoints/
*.h5
dist/
*.exe

# LTSpice (Ignorar resultados temporales gigantes y exportaciones masivas)
*.raw
*.op.raw
*.log
*out_signals*.txt
simulaciones/scripts/*_signals*.txt

# C / C++ / Microcontroladores
build/
*.elf
*.bin
*.hex
*.dis
*.map

# KiCad (Copias de seguridad automáticas y configuración local de usuario)
*-backups/
*.kicad_prl
*.lck
_autosave-*
*.bak

# Archivos de sistema y comprimidos pesados
*.zip
.DS_Store
Thumbs.db
.vscode/
